table {
    border-collapse: collapse;
    width: 100%;
    font-family: Arial, sans-serif;
}

td, th {
    border: 1px solid #a21919;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: aquamarine;
}